* {
  font-family: sans-serif;
}

/* Header */
.header_wrapper {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px;
}

.header_logo img {
  height: 40px;
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

.header_nav {
  display: flex;
}

.header_nav div {
  margin: 0 10px;
}

/* Content */
.content_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.code-container {
  display: flex;
  flex-direction: column;
}

.codebox {
  width: 768px;
  height: 500px;
  margin-top: 20px;
  padding-left: 20px;
  background-color: #f7f6f3;
  display: flex;
  flex-direction: column;
}

.codebox_lang {
  margin: 10px 0;
}

.codebox_lang .select-btn {
  /* display: flex;
  align-items: center; */
}

.codebox_lang img {
  width: 15px;
  height: 15px;
}

.codebox_lang .lang-btn {
  margin-left: 10px;
  algin-items: center;
}

.codebox_grid {
  width: 100%;
  hegiht: 100%;
  display: flex;
}

.view-line-numbers {
  margin: 0 10px;
}

.view-line-number {
  margin-bottom: 5px;
}

.view-line {
  margin-bottom: 5px;
}

.terminal {
  width: 748px;
  height: 300px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f6f3;
  display: flex;
  flex-direction: column;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description {
  width: 500px;
  margin-top: 25px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.comment-card {
  display: flex;
  margin: 10px;
}

.comment-card img {
  height: 50px;
  border-radius: 50%;
  background-size: contain;
}

.comment-card .comment-info {
  displayl: flex;
  flex-direction: column;
  align-items: center;
}

.author {
  font-weight: bold;
  font-size: 13px;
}

.comment {
  font-size: 13px;
}

.reply {
  font-size: 11px;
  color: gray;
}

.selectBox {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 10px 5px;
  border-radius: 4px;
}
.selectBox .select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
  color: gray;
}

.selectBox .select option {
  color: gray;
  padding: 3px 0;
  font-size: 16px;
}

.selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
}

.codebox_grid textarea {
  width: 740px;
  height: 400px;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px;
  background-color: #f7f6f3;
  resize: none;
  color: black;
  border: none;
  outline: none;
}

.terminal textarea {
  width: 740px;
  height: 280px;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px;
  background-color: #f7f6f3;
  resize: none;
  color: black;
  border: none;
  /* border-top: 1px solid #0000007e;
  border-bottom: 1px solid #0000007e; */
  outline: none;
}

.terminal .selectBox {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 0 5px;
  border-radius: 4px;
  color: gray;
  padding: 3px 0;
  font-size: 13px;
}

.profile-card {
  display: flex;
  align-items: center;
  margin: 10px;
}

.profile-card img {
  height: 50px;
  border-radius: 50%;
  background-size: contain;
}
.profile-card .author {
  font-weight: bold;
  font-size: 13px;
}

.description .title {
  font-size: 25px;
  margin: 10px 0;
}
