* {
  font-family: sans-serif;
}

/* Header */
.header_wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px;
}

.header_logo img {
  height: 40px;
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

.header_nav {
  display: flex;
}

.header_nav div {
  margin: 0 10px;
}

/* Content */
.content_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.code-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
}

.editor-container {
  margin-left: 15px;
  width: 45%;
  height: 80%;
}

.codebox {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.codebox_lang {
  margin: 10px 0;
}

.codebox_lang .select-btn {
  display: flex;
  align-items: center;
}

.codebox_lang img {
  width: 15px;
  height: 15px;
}

.codebox_lang .lang-btn {
  margin-left: 10px;
  algin-items: center;
}

.codebox_grid {
  width: 100%;
  hegiht: 100%;
  display: flex;
}

.view-line-numbers {
  margin: 0 10px;
}

.view-line-number {
  margin-bottom: 5px;
}

.view-line {
  margin-bottom: 5px;
}

.terminal {
  width: 748px;
  height: 500px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f6f3;
  display: flex;
  flex-direction: column;
}

.description-container {
  display: flex;
  flex-direction: column;
}

.description {
  width: 500px;
  margin-top: 25px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.comment-card {
  display: flex;
  margin: 10px;
}

.comment-card img {
  height: 50px;
  border-radius: 50%;
  background-size: contain;
}

.comment-card .comment-info {
  displayl: flex;
  flex-direction: column;
  align-items: center;
}

.author {
  font-weight: bold;
  font-size: 13px;
}

.comment {
  font-size: 13px;
}

.reply {
  font-size: 11px;
  color: gray;
}

.selectBox {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 10px 5px;
  border-radius: 4px;
}

.selectBox .select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
  color: gray;
  font-size: 15px;
}

.selectBox .select option {
  color: gray;
  padding: 3px 0;
}

.selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
}

.codebox-container {
  display: flex;
  width: 100%;
  height: 500px;
  margin-top: 10px;
}
.codebox-typing {
  width: 48%;
  height: 100%;
  margin-right: 15px;
}

.codebox-typing textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0;
}

.terminal .selectBox {
  position: relative;
  width: 100px;
  height: 30px;
  margin: 0 5px;
  border-radius: 4px;
  color: gray;
  padding: 3px 0;
  font-size: 13px;
}

.profile-card {
  display: flex;
  align-items: center;
  margin: 10px;
}

.profile-card img {
  height: 50px;
  border-radius: 50%;
  background-size: contain;
}
.profile-card .author {
  font-weight: bold;
  font-size: 13px;
}

.description .title {
  font-size: 25px;
  margin: 10px 0;
}

.codebox-result {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #f5f2f0;
}

.codebox-result .edit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background-color: #f5f2f0;
  border: none;
  margin: 5px 5px 0 0;
}

.codebox-result .edit img {
  height: 100%;
  margin-right: 5px;
}

.codebox-result .edit p {
  font-size: 16px;
}

.codebox-result .edit p:hover {
  font-weight: bold;
}

.edit-box {
  display: flex;
  justify-content: space-between;
  
}

/* New Post */

.newpost {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 15px;
}

.post_title {
  position: relative;
  width: 48%;
  margin: 70px 0 30px 15px;
}

.post_title input {
  font-size: 20px;
  color: #222222;
  width: 100%;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

.post_title input::placeholder {
  color: #aaaaaa;
}
.post_title input:focus {
  outline: none;
}

.post_title label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

.post_title input:focus ~ label,
.post_title input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

.post_title input:focus ~ span,
.post_title input:valid ~ span {
  width: 100%;
}

.lang-select {
  display: flex;
  align-items: center;
}

.lang-select p {
  font-size: 16px;
  color: gray;
}

.next-btn {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.complete-btn {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.icon-button {
  background-color: #3d8df4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.icon-button img {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}

.icon-button:hover {
  background-color: #2880f2;
}

.icon-button:active {
  background-color: #193071;
}

svg {
  stroke-width: 1;
}

svg:hover {
  stroke-width: 3;
}

.editorbox p {
  font-size: 16px;
  color: gray;
  margin-top: 30px;
  margin-bottom: 30px;
}
